@model OnlineClients.Models.Pessoa

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Pessoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Tipo de Pessoa
        </dt>
        <dd>
            @if (@Model.TipoPessoa == 1)
            {
                <span class="label label-info">CNPJ</span>
            }
            else
            {
                <span class="label label-info">CPF</span>
            }
        </dd>
        <dt>
            CPF/CNPJ
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CpfCnpj)
        </dd>
        <dt>
            Data de Nascimento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            Telefone
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>
        <dt>
            E-mail
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Idpessoa">Editar</a>
    <a class="btn btn-warning" asp-action="Index">Voltar</a>
</div>
